/* =============== BOX =============== */

.box-container {
    display: flex;
    flex-direction: row;
}

/* .box {
    margin-right: 20px;
} */

.square-box {
    width: 250px;
    height: 150px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.category-box {
    background-color: #ff99cc;
}

.machinery-box {
    background-color: #66ccff;
}

/* Médias queries pour les écrans plus petits */
@media (max-width: 768px) {
    .box-container {
        flex-direction: column;
        /* Aligne les boîtes les unes au-dessus des autres. */
        align-items: center;
        /* Centre les boîtes verticalement. */
    }

    .square-box {
        width: 100%;
    }
}