/* =============== RESPONSIVE =============== */

.columns-size {
    width: 75%;
    margin: 0 auto;
}

/* MOBILE */
.columns-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TABLETTE ET ORDINATEUR */
.columns-tablet-desktop {
    justify-content: center;
}

/* =============== CARTE =============== */

.reservation-card {
    width: 100%;
    /* La carte prend toute la largeur */
    box-sizing: border-box;
    /* Permet d'inclure le padding et la bordure dans la largeur totale de l'élément */
    border: 1px solid #e0e0e0;
    /* Bordure optionnelle pour la carte */
    padding: 10px;
    margin-bottom: 10px;
    /* Espace entre les cartes */
}

.reservation-card:last-child {
    margin-bottom: 0;
    /* Pour ne pas avoir d'espace inutile après la dernière carte */
}

.reservation-card.reservation {
    background-color: #75C2F6;
    border-color: #75C2F6;
    /* couleur pour les réservations */
}

.reservation-card.maintenance {
    background-color: #EF9F9F;
    border-color: #EF9F9F;
    /* couleur pour les maintenances */
}

@media only screen and (max-width: 1023px),
print {
    .tile:not(.is-child) {
        display: block;
    }
}