/*Pour enlever la marge et les puces par défaut.*/
.content ul {
    margin-top: 0;
    list-style-type: none;
    margin-left: 6px;
}

/* =============== BOUTONS =============== */
/*Style d'un élément d'une liste.*/
.StyledListButton::before {
    content: '•';
    padding-right: 8px;
    color: grey;
}

.grouped-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.grouped-buttons .control {
    margin: 0 5px;
    margin-bottom: 0 !important;
}

/* =============== RESPONSIVE =============== */
/* MOBILE */
.columns-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columns-mobile-size {
    width: 75%;
    margin: 0 auto;
}

/* TABLETTE ET ORDINATEUR */
.columns-tablet-desktop {
    display: flex;
    justify-content: center;
}

.columns-tablet-desktop-size {
    width: 65%;
    margin: 0 auto;
}


/* Empêcher la marge inférieure pour le dernier élément */
/* .content p:not(:last-child) {
    margin-bottom: 0;
} */

/* === MODALE === */
.modal-content {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color .2s;
}

.form-input:focus {
    border-color: #007BFF;
    outline: none;
}

.form-input-icon {
    position: absolute;
    margin: 12px 8px;
    color: #aaa;
}

.input-wrapper {
    position: relative;
}