/*Pour enlever la marge et les puces par défaut.*/
.content ul {
    margin-top: 0;
    list-style-type: none;
    margin-left: 6px;
}

/*Style d'un élément d'une liste.*/
.StyledListButton::before {
    content: '•';
    padding-right: 8px;
    color: grey;
}

.grouped-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.grouped-buttons .control {
    margin: 0 5px;
    margin-bottom: 0 !important;
}

/* Empêcher la marge inférieure pour le dernier élément */
/* .content p:not(:last-child) {
    margin-bottom: 0;
} */