.flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button.transparentButton {
    background-color: transparent !important;
    border: none;
    color: white;
    cursor: pointer;
    margin: 0 !important
}